In [4]:
#operators with strings (+,*) concatenation of strings
first_name = 'John '
last_name = 'Musa'
full_name = first_name+last_name
print(full_name)

John Musa

In [23]:
#To add a space between first and last name
first_name = 'John '
last_name = 'Musa'
full_name = first_name+''+ last_name
print(full_name)

John Musa

In [8]:
star = '5'
print(star*10)

5555555555

In [9]:
#To check existence of an element (or a string) in a string (in, not in)
'Musa' in full_name

True

In [11]:
length_of_full_name = len(full_name)
print(length_of_full_name)

9

In [13]:
#element in an index of a string
print(full_name[0:4])

John

In [27]:
#String transformation (upper, lower, title) methods
#methods are 
print(full_name.upper())
print(full_name.lower())
print(full_name.title())

JOHN MUSA
john musa
John Musa

In [29]:
#applying startwith and endwith method
full_name.startswith('J')
full_name.endswith('h')

False

In [30]:
#To remove unecessary spaces in a string
email = ' john.musa@gmail.com'
print(email)

 john.musa@gmail.com

In [31]:
email.strip()

'john.musa@gmail.com'

In [32]:
#to replace a content with another content in a string
my_email = 'nathaniel#gmail.com'
my_email.replace('#', '@')

'nathaniel@gmail.com'

In [37]:
#joining string with other data types using the .format() method
name = 'Nate'
age = 65
sentence = 'My name is {}. I am {} years old'.format(name,age)
print(sentence)

My name is Nate. I am 65 years old

In [39]:
item_name = 'Mango'
real_price = 5
discounted_price = 1.5
sentence = 'Item 1 is called {}. This item costs {}, but due to the discounts, it now costs {}'.format(item_name,real_price,discounted_price)
print(sentence)

Item 1 is called Mango. This item costs 5, but due to the discounts, it now costs 1.5

* List