# Variables
    - are containers for values (or objects in python)
    - always ensuer your variable names are explanatory
    - the Python devs convention is to have your variables declared in lower cases
    - it is also Python devs convention to make use of camel cases for variables with multiple words

In [ ]:
x = 2 + 2
name = 'Maryam'
school = 'Oxford'
result = {
    'maths': 60
    , 'english': 45
    , 'biology': 59
}

# x, name, school, result are called variables in Python.

### Python Variables are case sensitive:
    - what ever is written in lower case does not over-write its upper case equivalent

In [ ]:
time = '11:58'
Time = '09:56'
TIME = '21:11'

In [ ]:
print(time)
print(Time)
print(TIME)

### Python Variables can be over-written
    - when a variable is declared the first time, a new object assignment over-writes the previous
    - in essence, be careful (and intentional) about the names of variables

In [ ]:
travel_distance = '21km'

print(travel_distance)

In [ ]:
travel_distance = '81km' # this over-writes the same variable declared above

print(travel_distance)

# Datatypes
    - Datatypes can be thought of as a classification of values (or objects) in Python
    - there are several datatypes in Python. The major ones are:
        - Strings
        - Numeric
        - Structures
            - Lists
            - Tuples
            - Sets
            - Dictionaries (Maps)
        - Boolean
        - None
    - Methods that can be performed on Python's datatypes differ depending on their classification.
        -

In [ ]:
## Examples

string = 'Hello, Maryam!'
numeric_integer = 1234
numeric_float = 12.344
structure_list = ['It', 'Can', 'Contain', 'Any', 'Datatype', string, numeric_integer, 12.5, 'Boolean', False, {'not': 'limited'}]
structured_tuples = (1, 'Apple', True, None)
structured_sets = {'Dismisses', 'Duplicates'}
structures_dictionaries = {'key': 'value', 'another_key': structure_list, numeric_integer: False}
boolean_true = True | False
none_type = None

## 1. Strings
    - Strings are a datatype in Python enclosed with single or double quotes
    - Strings could be a word, combination of words, a sentence, or a combination of sentences

In [ ]:
string_A = 'I am a string!'
string_B = "Same string class still"

    - strins coan also be written in multiple lines using three single or double quotes at the start and end of the string
    - this method of defining strings also help with sentences containing mid-word apostrophes (and quotes)

In [ ]:
sentence_A = '''
    This is a sentence. This is a sentence.This is a sentence.This is a sentence. This is a sentence.
    This is a sentence. This is a sentence.This is a sentence.This is a sentence. This is a sentence.
    This is a sentence. This is a sentence.This is a sentence.This is a sentence. This is a sentence.
    This is a sentence. This is a sentence.This is a sentence.This is a sentence. This is a sentence.
    This is a sentence. This is a sentence.This is a sentence.This is a sentence. This is a sentence.
'''

In [ ]:
sentence_B = """
    Maryam's bag is not black. But she said "My bag is black".
"""

### Escape Characters - Apostrophes, Tabs and New Lines
    - Escapes can be aplied to sentences with quotes or characters needing to mean something else using the backslash `\`
    - Examples are:
        - \' or \" for single or double quotes
        - \t for tabs
        - \n for new lines
        - \\ for backslash

In [ ]:
backslash_example = 'Notify Timi\'s dad about his truck. It\'s disturbing!'

print(backslash_example)

In [ ]:
tab_example = 'FirstName\tLastName\tSchool'

print(tab_example)

In [ ]:
new_line_example = "Each\nWord\nDisplays\nOn\nA\nNew\nLine"

print(new_line_example)

### Quiz - Strings Basics

In [ ]:
# Quiz One: Write briefly about yourself in a multi-line string. Assign this string to the variable named myself

# myself =

In [ ]:
# Quiz Two: Create a variable named 'basseys_word'
#           Assign to your variable the string below:
#               He's not a boy
#           Use the single quote and double quotes to test your understanding

In [ ]:
# Quiz Three: Using the variable created in Quiz Two (basseys_word), print each word in the string on a new line

### Indexing
    - strings are arrays (iterables). we can access each element in a string at a time using indexes
    - python makes use of zero-indexing (the first element in an array starts with position zero(0))

In [ ]:
my_name = 'Santiago'

In [ ]:
my_name[0]

In [ ]:
# checking the length of a string - helps you to know how many characters (or elements) are in a string

len(my_name)

In [ ]:
# get the last item in the string with negative indexing

my_name[-1]

### Slicing
    - get more than one character in an array 
    - Syntax `array[start:stop:skip]`

In [ ]:
# get the first 5 elements

my_name[:5]

In [ ]:
phone_number = '+234 803 123 2277'

In [ ]:
last_4 = phone_number[-4:]

In [ ]:
country_code = phone_number[:4]
print(country_code)

### Quizzes - Indexing & Slicing

In [ ]:
# Quiz One: How many characters are in the string below?

bank_name = 'First Bank of Nigeria'

In [ ]:
# Quiz Two: Retrieve the first 4 characters in the below string

special_characters = '!@#(&*(^%)&!$@'

In [ ]:
# Quiz Three: Retrieve all but the first three characters from the string below

special_characters = '!@#(&*(^%)&!$@'

In [ ]:
# Quiz Four: From the variable defined below, using slicing, return each element without the space between
#            Expected Output: 'aeiou'

vowels = 'a e i o u'

### Methods
    - Methods can be performed on strings.
    - Methods are functions defined for a instances that belong to a class
    - example of string methods are:
        - .split() divides the content of a string by the specified character
        - .strip() removes whitespaces (spaces before and after the content of the string)
        - .upper() transforms the entire string to UPPERCASE
        - .replace() replaces an element in a string with another
        - .format() helps you combine variables and strings

In [ ]:
# extract the housenumber, street, state and country from the string be
#           have each response saved in a variable

house_address = '123, Barak Street, Jos, Nigeria.'

# Step 1: Separate the values in a string by comma (,)
split_string = house_address.split(',')
print(split_string)

# Step 2: Extract the needed variables using indexing
house_number = split_string[0]
street = split_string[1]
state = split_string[2]
country = split_string[3]

# Step 3: Display all variables
print('House Number - ', house_number)
print('Street - ', street)
print('State - ', state)
print('Country - ', country)

In [ ]:
# split the string below using dash (-) as a separator
phone_number = '0819-234-5678'

phone_number.split('-')

In [ ]:
# change all characters in the string below to uppercase
loud_statement = 'highnote'
print(loud_statement.upper())

In [ ]:
# change all characters in the string below to lowercase
lower_case = 'DONT SHOUT'
print(lower_case.lower())

In [3]:
# Format
# the .format() method helps with string-variable concatination.

# assume a variable name
name = 'Lucas'

# ...and a sentence
sentence = 'My name is '

# to insert the name variable in the sentence, 
# add open and close curly braces to the position where the variable should be placed, 
# then use the .format method with the variable as an argument

sentence = 'My name is {}'.format(name)
print(sentence)

My name is Lucas

In [5]:
# the .format() method could have as many arguments as possible
house_number = 567
street = 'Highway street'
state = 'F.C.T'
country = 'Nigeria'
address = 'His address is at {}, {}, {}, {}.'.format(house_number, street, state, country)
print(address)

His address is at 567, Highway street, F.C.T, Nigeria

### Quizzes - Methods

In [ ]:
# Quiz One: extract the year, month, date, hour, minute, and second from the date below
#           the date is given in the format YYYY/MM/DD HH:MM:SS
#           assign each value to a variable

datetime = '2023/07/31 12:00:23'

In [ ]:
# Quiz Two: Print a string using the output gotten from the above quiz.
#           Your output should look like the below, fillig the curly braces with the corresponding:
#               'The year is {}. The month is {}. The day is {}'

## 2. Numbers
    - There are two major number types in Python:
        - Integers (int) - whole numbers
        - Float - Numbers with decimals

In [6]:
numeric_integer = 1000
numeric_float = 20.922

In [8]:
# Floats can be converted to integers by using the int() constructor and the number within its brackets

x = 19.53
print(int(x))

19

In [9]:
# Integers can be converted to Floats using the float() constructor and the number within its brackets

y = 1993
convert_y_to_float = float(y)

print(convert_y_to_float)

1993.0

In [12]:
# You can check the type of an object (or a variable) using the type() constructor in python

print(type(123)) # --> int for integer
print(type(99.22)) # --> float for float
(print(type('Colin'))) # --> str for strings

<class 'int'>
<class 'float'>
<class 'str'>

### Basic Arithmetic Operations
    - Arithmetic Operations can be performed on both integers and floats
    - Below are a few operators in Python:
        - (+)  addition
        - (-)  subtraction
        - (*)  mulltiplication
        - (/)  division
        - (%)  modulus (returns the remainder of a division)
        - (//) addition
        - (**) raised to power

In [ ]:
# Addition
x = 2 + 2
print(x)

In [13]:
# subtraction
a = 5
b = 10

c = a - b

print(c)

-5

In [14]:
# multiplication

print(10 * 5)

50

In [16]:
# division

m = 91
s = 14

result = 91 - 14
print(result)

77

In [ ]:
# Quiz one: Perform arithmetic operations with the other operators listed above
#           In your own words, explain what these operators do